LetsgobikingHeavyClient/LetsgobikingHeavyClient/Connected Services/RoutingService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Routing" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Routing.models" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Routing/Service1/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetClosestStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="isArrival" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosestStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Routing" minOccurs="0" name="GetClosestStationResult" nillable="true" type="q1:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Routing" minOccurs="0" name="getAllStationResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="llP1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="llP2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="profile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Routing.models" minOccurs="0" name="getRouteResult" nillable="true" type="q3:GeoJson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Routing" minOccurs="0" name="convertResult" nillable="true" type="q4:ArrayOfConvertResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="travel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startpoint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="travelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Routing.models" minOccurs="0" name="travelResult" nillable="true" type="q5:Travel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getStatisticsResult" nillable="true" type="q6:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>